body {
    background-image: url(https://getwallpapers.com/wallpaper/full/8/5/f/1035772-1920x1080-wallpaper-hd-f1-2018-1920x1080-large-resolution.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(44, 43, 43, 0.5)), url("https://getwallpapers.com/wallpaper/full/8/5/f/1035772-1920x1080-wallpaper-hd-f1-2018-1920x1080-large-resolution.jpg");
    background-repeat: repeat;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        background-color: white;
        width: 100%;
        text-align: center;
    }
    .block{
        width: 100%;
        text-align: center;
    }
}
header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 900;
}
#Home{
    background-color: rgba(128, 128, 128, 0.5);
    margin: 10px;
    text-align: center;
    color: #f8f8f8;
}

.box-container{
    color:white;
    background-color: #797977;
    text-align: center;
    height: 180px;
}
.block {
    border: 10px;
    background-color: #f8f8f8;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 730px;
}
.table1{
    margin-left: 80px;
}
.table{
    margin-left: 170px;
}
.logo{
    font-size: 3rem;
    color: #ff0000;
    font-weight: bolder;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}



#Slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff0000;
    transition: width 0.3s;
    z-index: 1000;
}

#animate {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
}

img.animated-gif{
    width: 120px;
    height: auto;
}
